<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">OShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            Shopping Cart
            <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
              {{cart.totalItemsCount}}
            </span>
          </a>
        </li>
          <ng-template #anonymousUser>
          <li class="nav-item">
             <a  class="nav-link" routerLink="/login">Login</a>
          </li>
      </ng-template>
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{appUser.name}}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a ngbDropdownItem routerLink="/my/orders">My Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a ngbDropdownItem routerLink="/admin/orders">Manage Orders</a>
              <a ngbDropdownItem routerLink="/admin/products">Manage Products</a>
              </ng-container>
              <a ngbDropdownItem (click)="logout()">Log out</a>
            </div>
        </li>
      </ul>
      
    </div>
  </nav>

  